.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  padding: 0 15px;
}

.action_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
